:root {
  --color-brand-200: #4b6cb7;
  --color-brand-800: #182848;

  --color-gray-100: #e4e5e6;
  --color-gray-200: #acaeb1;

  --color-white: #ffffff;
}

*,
*:before,
*:after {
  margin-top: 0;
}

figure,
figcaption {
  margin: 0;
  padding: 0;
  text-align: right;
}

html {
  font: 400 100%/1.5 "Helvetica Neue", Helvetica, system-ui, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background: var(--color-brand-200); /* fallback for old browsers */
  background: linear-gradient(
    to right,
    var(--color-brand-800),
    var(--color-brand-200)
  );
  color: var(--color-white);
  position: relative;
}

small {
  color: #cccccc;
  font-size: 0.8rem;
}
h1,
h2,
h3,
h4 {
  font-weight: 400;
}

.l-container {
  padding: 2rem;
  margin: auto;
  max-width: 56rem;
}

/*Typography*/

.c-h1,
.c-h2,
.c-h3,
.c-h4 {
  font-family: "Comic Sans MS", "Comic Sans", sans-serif;
  color: var(--color-white);
  margin-bottom: 0.75em;
}

.c-h1 {
  font-weight: 400;
  margin-bottom: 0.25rem;
}
.c-h2 {
  font-weight: 300;
}
.c-h4 {
  font-size: 1.2rem;
}

/*Components*/
.c-header {
  display: flex;
  gap: 2rem;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
@media (min-width: 46em) {
  .c-header {
    flex-direction: row;
    text-align: left;
  }
}

.c-header__logo {
  width: 8rem;
}

.c-header__titles {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.c-header__title {
  margin-bottom: 0;
}

.c-hero {
  display: grid;
  gap: 2.5rem;
  grid-template-columns: minmax(0, 1fr);
  align-items: center;
}

@media (min-width: 46em) {
  .c-hero {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
.c-hero__content {
  color: white;
  font-size: 1.4rem;
  margin-bottom: 2rem;
}

.c-hero__title {
  margin-bottom: 2rem;
  font-size: 1.8rem;
}

.c-hero__figure {
  transform: rotate(-5deg);
}

.c-hero__img {
  box-sizing: border-box;
  padding: 1rem;
  background: var(--color-white);
  margin-bottom: 0.5rem;
}

.c-faq {
  display: grid;
  grid-template-columns: minmax(min-content, 8rem) 1fr;
}

.c-speaker-list {
  list-style: none;
  margin: 0;
  padding: 0;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 2rem;
}

.c-speaker {
  margin: 0;
  padding: 0;
}

.c-speaker__media {
  padding: 0.5rem;
  background: var(--color-white);
  margin-bottom: 2rem;
  transition: transform 0.2s ease-out;
}

.c-speaker-list > li:nth-child(3n) .c-speaker__media {
  transform: rotate(-3deg);
}

.c-speaker-list > li:nth-child(3n - 1) .c-speaker__media {
  transform: rotate(5deg);
}

.c-speaker-list > li:nth-child(3n - 2) .c-speaker__media {
  transform: rotate(-3deg);
}

.c-speaker-list > li:nth-child(6n - 2) .c-speaker__media {
  transform: rotate(3deg);
}

.c-speaker-list > li:nth-child(6n - 2) .c-speaker__media {
  transform: rotate(-5deg);
}

.c-speaker-list > li:nth-child(3n):hover .c-speaker__media,
.c-speaker-list > li:nth-child(3n):focus .c-speaker__media,
.c-speaker-list > li:nth-child(3n - 1):hover .c-speaker__media,
.c-speaker-list > li:nth-child(3n - 1):focus .c-speaker__media,
.c-speaker-list > li:nth-child(3n - 2):hover .c-speaker__media,
.c-speaker-list > li:nth-child(3n - 2):focus .c-speaker__media,
.c-speaker-list > li:nth-child(6n - 2):hover .c-speaker__media,
.c-speaker-list > li:nth-child(6n - 2):focus .c-speaker__media,
.c-speaker-list > li:nth-child(6n - 2):hover .c-speaker__media,
.c-speaker-list > li:nth-child(6n - 2):focus .c-speaker__media {
  transform: rotate(0);
}

.c-speaker__img {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  filter: grayscale(1);
}

.c-speaker__name {
  margin-bottom: 0.25rem;
}

.c-speaker__promo {
  margin-bottom: 0;
  font-size: 0.84rem;
  color: var(--color-gray-200);
}

.c-speaker__description {
  font-size: 0.84rem;
  color: var(--color-gray-100);
}

.u-fluidimg {
  display: block;
  max-width: 100%;
  height: auto;
}
.c-canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}
